name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag ghcr.io/sunet/transcribe-ui:latest

    - name: Tag the Docker image
      run: docker tag ghcr.io/sunet/transcribe-ui:latest ghcr.io/sunet/transcribe-ui:latest

    - name: Push the Docker image
      run: |
        docker push ghcr.io/sunet/transcribe-ui:latest
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}